.ant-menu-root {
    border-color: transparent !important;
    background-color: transparent !important;
}

.ant-input {
    font-size: 14px !important;
}

.ant-form-item-explain-error {
    font-size: 12px !important;
}
