@import 'tailwindcss';

/* 禁用 View Transition 默认动画 */
::view-transition-old(root),
::view-transition-new(root) {
    animation: none !important;
    mix-blend-mode: normal !important;
}
::view-transition-image-pair(root) {
    animation: none !important;
}
